.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.success-box {
    background: #111;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #333;
    text-align: center;
    max-width: 500px;
}

.success-box h1 {
    margin-bottom: 15px;
    color: #d4af37;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #d4af37;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    color: #d4af37;
    border: 1px solid #d4af37;
    border-radius: 10px;
    text-decoration: none;
}
